extends layouts/main

block content
  if !loggedUser
    .loginBox
      button.link
        a(href=routes.login) Login
      button.link
        a(href=routes.signUp) Sign up
  else
    .logout
      button.link#jsLogOut
        a(href=routes.logout) Logout
    .chat
      ul.chat__messages#jsMessages
      form.chat__form#jsSendMsg
        input(placeholder="Write a message", type="text")