extends layouts/main

block content
  if !loggedUser
    ul.loginBox
      li.login
        button
          a(href=routes.login) Login
      li.signUp
        button
          a(href=routes.signUp) Sign up
  else
    p home