extends layouts/main

block content
  if !loggedUser
    .loginBox
      button.link
        a(href=routes.login) Login
      button.link
        a(href=routes.signUp) Sign up
  else
    .logout
      button.link
        a(href=routes.logout) Logout