.fileUpload {
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  resize: none;
  padding: 10px 5px;
  margin: 15px 0;
  label {
    font-weight: 300;
    margin-right: 10px;
  }
}
